<div class="text-container read">
    <article class="read-wrap">
        <h1 style="animation: transitionIn 0.75s; font-size: 58px; display: flex; justify-content: center;">
            <div>Mira Hub</div>
        </h1>
        <div class="img-container" style="animation: transitionIn 1.5s; margin-top: 20px;">
            <img height="600" width="600" src="../../../assets/pictures/mira-hub.jpeg">
        </div>
        <div class="p-content" data-aos="zoom-in-up">
            <h3>
                The Mira Hub (Nick Name Leatherback Turtle) is one of the main projects I developed while working in the
                mira team. A quick description of Mira Hub:
                <br>
                <br>
                The hub will automatically process a video once it detects a usb device with new videos is plugged in.
                It can handle tasks like video encode/decode, video/audio muxing, video compression, etc. It then
                uploads the processed videos along with the original videos to a selected web drive (eg. Google drive,
                Baidu drive).
                <br>
                <br> Here is a detailed user's manual.
            </h3>
        </div>
    </article>
</div>

<div class="img-container" data-aos="zoom-in-down" style="margin-top: 30px;">
    <iframe
        src="https://thoughts.teambition.com/share/6087c649deb3040046d2a1c5#title=Jetson_Nano_%EF%BC%88%E9%BE%9F%E9%BE%9F%EF%BC%89%E4%BD%BF%E7%94%A8%E8%AF%B4%E6%98%8E"
        style="width: 1350px; height:600px; background-color: white;"></iframe>
</div>

<div class="text-container read" style="background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            Mira Hub is based on a Nvidia Jetson Nano. Software is mostly implemented in python and shell scripts, the
            video tasks are implemented with GStreamer. I tried to use FFmpeg, but it looks like the Nvidia GPU hardware
            acceleration is not supported for FFmpeg.
            <br>
            <br> The display and UI is implemented with a system service written in python, based on a bettrey panel
            wtih a INA219 screen on it.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/ui.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" style=" margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            I also partnered up with another coop student from SJTU(Shanghai Jiao Tong University) to design a case for
            the hub. We decided to 3D print a case, since there is a pretty big 3D-printing lab in SJTU.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/3d-lab.jpeg">
        </div>
        <h3 class="p-content" data-aos="zoom-in-uo">
            The printer took 10 hours to finish it up, the final case looks like this. The logo was intented to look
            like an alpaca with hahafhaha written on it. I know, it sort of looks like a cat now, but it's an alpaca.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/mira-case.jpeg">
        </div>
    </article>
</div>

<script>
    AOS.init()
</script>