<div class="text-container read">
    <article class="read-wrap">
        <div style="display: flex; justify-content: center; margin-top: 10px; animation: transitionIn 0.75s;">
            <img src="../../../assets/pictures/baixing-logo.png">
        </div>
        <h1 style="animation: transitionIn 0.75s; font-size: 35px;">
            <div> Software Engineer at Baixing.com (百姓网)</div>
        </h1>
        <div class="img-container" style="animation: transitionIn 1.5s; height: 75%; margin-top: 40px;">
            <img src="../../../assets/pictures/mira-meeting.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content">
            I have worked as a Software Engineer for a brand new start up team (mira) at Baixing.com.
            <br>
            <br> Our goal is to create a platform that handles a vast variety of video processing tasks based on
            AI.
            <br>
            <br> For example, auto video editing is one of our recently developed task. The editor only has to pass a
            simple sequence of command based on the
            desired video content.
            <br>
            <br> i.e "ocean ocean party dance forest", is a simple command. The software will then look for all the
            clips that
            matches this sequence, auto edits it with specific music and beat, and then produce a final edited video.
            The idea is that all these kind of short music videos that we see on tiktok, instagram, etc. could be
            edited in one line of command.
            <br>
            <br> Other tasks such as illegal copy right crawler, speaker detection, auto subtitling, etc. are also
            avalible.
            <br>
            <br> If your are interested, feel free to ask me more about it or visit our website at https://mirav.cn
        </h3>
    </article>
</div>

<div class="text-container read" style="background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <div class="img-container" data-aos="zoom-in-down">
            <iframe src="https://mirav.cn/hola/" style="width: 1500px; height:900px;"></iframe>
        </div>
        <h3 class="p-content" data-aos="zoom-in-up">
            I have took part in a wide range of jobs such as coding, system administrating, and researching.
            <br>
            <br> I built some of the softwares described in the previous content.
            <br>
            <br> Managed to put together several deep learning servers. Each team member also has their own cloud
            server,
            and I am responsible for handling the servers' setup, and just any issue regarding the environment.
            <br>
            <br> As someone who has not touched Linux before. I really learned a lot along the journey. Got myself
            familiar
            with linux, bash shell, and Docker.
        </h3>
        <div class="img-container" data-aos="zoom-in-down" style="margin-top: 30px;">
            <img src="../../../assets/pictures/main-power.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" data-aos="zoom-in-down" style="margin-top: 30px;">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            2 interesting team traditions we had was the "Mini Chaoge" challenge and the tech talks every week.
            <br>
            <br>Everyone who is wishing to join the team needs to pass the "Mini Chaoge" challenge
            <br>
            <br>Basically, you are given about a week's time to research and finish a small coding project. The
            project I recieved was to automatically upload edited video to different platforms like Youtube,
            Bilibili, etc.
            <br>
            <br>There is no limitation on how you complete it. You could try to get your friends who might know about
            the subject, or simply google for any information. Directly copying or asking someone to write it for you
            is,
            of course, strictly prohibited.
            <br>
            <br>Interesting part is, not only you have to finish it, after completing the project for the first time,
            you are required to finish the whole thing again in under an hour for the second time, without any
            assistance from the internet or supervisor/friends.
            <br>
            <br>Proud to say that, up until this point, I am still the record keeper (27 minutes) for the upload
            challenge.
        </h3>
        <div class="img-container" data-aos="zoom-in-down" style="margin-top: 30px;">
            <img src="../../../assets/pictures/tech-talk.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" style="background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content">
            There will be a tech talk given by one of the team members every Tuesday night.
            <br>
            <br> The topic of the tech talk could be anything, as long as the presenter thinks this topic will help
            us on the project that we are working on, or just spark up some new ideas for us.
            <br>
            <br> I was talking about PaddlePaddle (an open source AI deep learning model hub/framework platform) in the
            above pictures.
            <br>
            <br> In fact, we are now using a lot of models introduced in Paddlehub for different tasks, including video
            tagging, NLP, and TTS.
        </h3>
    </article>
</div>

<script>
    AOS.init()
</script>