<h2 style="font-family: monospace; font-size: 150px;"> {{getOwnerName()}}</h2>
<div class="panel panel-default" style="background-color: antiquewhite;">
    <div class="panel-heading">Servers</div>
    <div class="panel-body">
        <button id="yangtuo1" class="black-fade-btn" [disabled]="!allowAccess">yangtuo1</button>
        <div *ngFor="let name of names; let i = index">
            <button class="black-fade-btn">{{i}}: {{name}}</button>
        </div>
        <success-msg *ngIf="!warningStatus"></success-msg>
        <warning-msg *ngIf="warningStatus"></warning-msg>
    </div>
    <div class="panel-footer">More servers at www.google.ca</div>
</div>