<div class="text-container read">
    <article class="read-wrap">
        <h1 
        style="
        animation: transitionIn 0.75s;
        font-size: 58px;
        display: flex;
        justify-content: center;
        ">
        <div>Chess</div>
        </h1>
        <div
        class="img-container"
        style="animation: transitionIn 1.5s; margin-top: 20px"
      >
        <img
          height="500vwh"
          width="1500vwh"
          src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/meepoer-intro.png"
        />
      </div>
    </article>
</div>