<div class="text-container read">
    <article class="read-wrap">
        <div style="display: flex; justify-content: center; margin-top: 10px; animation: transitionIn 0.75s;">
            <img style="margin-top: 10px;" src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/ftc.png">
        </div>
        <h1 style="animation: transitionIn 0.75s; font-size: 35px;">
            <div> Founder of Elgin Robotics (FTC 2016-2018)</div>
        </h1>
        <div class="img-container" style="animation: transitionIn 1.5s; margin-top: 40px;">
            <img src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/12281.jpeg">
        </div>
        <div class="p-content" data-aos="zoom-in-up">
            <h3>
                I started the Elgin Robotics club with one of my friend back in grade 9. Our team had participated in
                the
                FTC (First Tech Challenge for 3 consecutive years).
                <br>
                <br>
                You can learn more about our team and the FTC through
                our
                website at https://elginrobotics.com and https://www.firstinspires.org/
                <br>
                <br>
                Above was a picture we took during the first year's FTC
                competition,
                while our team only had 4 members.
            </h3>
        </div>
    </article>
</div>

<div class="img-container" data-aos="zoom-in-down" style=" margin-top: 30px;">
    <iframe src="https://www.elginrobotics.com/" style="width: 1350px; height:600px;"></iframe>
</div>

<div class="text-container read" style="background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            Outside of the competition, we also found lots of community outreach opportunities.

            <br>
            <br>Below was a picture of me riding on an FRC robot (First Robotics Competition, also a FIRST program)
            during the
            British Columbia Teachers' Convention.

            <br>
            <br> During the event, we demonstrated what our robot could do to the younger
            audiences and explained to them what FIRST is. Our purpose was to get more kids who showed interest towards
            engineering involved into programs like FIRST, at the same time inspire them with more innovational ideas.
        </h3>
        <div class="img-container" data-aos="zoom-in-down" style="margin-top: 30px;">
            <img src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/BCTF.jpeg">
        </div>
        <h3 class="p-content" data-aos="zoom-in-up">
            We also participated in Surrey City government community programs like AAS (Adopt-A-Street).
            <br>
            <br> Where our club adopted a street besides our school to maintain once everyweek, picking up litter,
            looking for obstacles that might cause troubes for the pedestrians, etc.

            <br>
            <br> We also get to put two of these AAS signs on the street, I still feel like they look pretty cool
            everytime I drove by them.
        </h3>
        <div class="img-container" data-aos="zoom-in-down" style="margin-top: 30px;">
            <img src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/AAS.jpg">
        </div>
    </article>
</div>

<script>
    AOS.init()
</script>