<div class="text-container read">
    <article class="read-wrap">
        <h1 style="animation: transitionIn 0.75s; font-size: 58px; display: flex; justify-content: center;">
            <div>Poobear</div>
        </h1>
        <div class="img-container" style="animation: transitionIn 1.5s; margin-top: 20px;">
            <img src="../../../assets/pictures/poobear.jpeg">
        </div>
        <div class="p-content" data-aos="zoom-in-up">
            <h3>
                We decided to name our FTC robot Poobear. Poobear was 1 year old in the above picture (Robot
                for our 1st season of FTC)
                <br>
                <br>
                I will briefly describe what the tasks were for our 2 major FTC seasons, and what we accomplished. If
                you are interested in this topic, or just have questions in general, feel free to contact me.
                <br>
            </h3>
        </div>
    </article>
</div>

<div class="text-container read" style="background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            During each round of a FTC tournament, we will be assigned with another random team as partners, while also
            matching up against 2 random teams.
            <br>
            <br> Each round of the tournament also contains two different stages, the autonomous period and the controll
            period. As the names suggest, the robot must complete the task automatically during the autonomous period,
            any physical contacts with the robot or the controllers will be a violation.
            <br>
            <br> During the controll period, each team will have a driver and a pilot. The driver controlls the robot,
            while the pilot should analyze the current situations, and instruct the driver.
            <br>
            <br> Below is a video of Poobear in action during a 2017 tournament.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <video width="1000" height="600" controls="controls" muted="true">
                <source src="../../../assets/videos/demo-poobear.mp4" type="video/mp4">
            </video>
        </div>
    </article>
</div>

<div class="text-container read" style=" margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h1 class="p-content" style="font-size: 30px;" data-aos="zoom-in-up">
            2016 FTC Velocity Vortex
        </h1>
        <h3 class="p-content" data-aos="zoom-in-up">
            Autonomous period:
            <br>
            <br>
            (1) Corresponds the beacons' color with your teams' by pressing the correct
            button.
            <br>
            <br> (2) Shoot the small balls through the hoop(vortex), touch the cap balls, push the small balls into
            designated areas.
            <br>
            <br> (3) Park the robot onto the corner triangular ramp.
            <br>
            <br>
            Controll period:
            <br>
            <br>
            (1) Shoot the smalls through the hoop(center vortex) or corner ramp.
            <br>
            <br> (2) Capture or recapture the beacons.
            <br>
            <br> (3) Hold up the cap ball, or even better, put it on top of the center vortex.
            <br>
            <br> Here is a picture illustration of the whole field.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/2016-ftc-field.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" style=" background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            This was our team's first season into FTC. We were still fumbling around and figuring/trying out a lot of
            things.
            <br>
            <br>
            It was also the very first time I realized, besides the technical part, there are much more things that I
            must consider as a leader.
            <br>
            <br> I started developing skills such as time management, budget management, task management.
            <br>
            <br> The most painful lesson I learned is probably how to properly deal with arguements. Small conflicts are
            inevitable in a long term group colloboration. But if we don't sort these conflicts out in time, they will
            build up, and one day it might just be detrimental issue.
            <br>
            <br> By detrimental issue, I mean the "team is completely falling apart and disbanding" kind of issue.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/wally-jeck.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" style=" margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h1 class="p-content" style="font-size: 30px;" data-aos="zoom-in-up">
            2017 FTC Relic Recovery
        </h1>
        <h3 class="p-content" data-aos="zoom-in-up">
            Autonomous period:
            <br>
            <br>
            (1) Knock down the correct particle corresponding to your team color.
            <br>
            <br> (2) Decode the encrypted message hidden in the pictures, and place a glpyh in the grid with the correct
            column corresponding to the encrypted message.
            <br>
            <br> (3) Park the robot into the triangular area under the grid.
            <br>
            <br>
            Controll period:
            <br>
            <br>
            (1) Put glpyhs into the grid. Completed rows and columns will give extra points. If the whole grid is filled
            with one of the pre-designed pattern, we get full point.
            <br>
            <br> (2) Grab the beacon and drop onto the recovery zone outside of the arena. The robot itself cannot leave
            the arena. Full point will be given if the relic is placed upright on the furthest zone.
            <br>
            <br> (3) Balance the robot on the balancing zone.
            <br>
            <br> Here is a picture illustration of the whole field.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/2017-ftc-field.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" style=" background-color: #A2978F; margin-top: 30px;" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content" data-aos="zoom-in-up">
            Throughout this season, we expanded our team, did a lot more community outreaches, started keeping our
            engineering notebook.
            <br>
            <br> We were also awarded the Rockwell Collins Innovate Award during the provincial championship.
            <br>
            <br> I was pretty proud of the team throughout the season, I feel like we accomplished a lot. It was really
            fun we go to Victoria for tournament everytime, I can still remember the monsters we were chugging down the
            night before championship.
        </h3>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/award-on-stage.jpeg">
        </div>
        <div class="img-container" data-aos="zoom-in-down">
            <img src="../../../assets/pictures/award-ins.jpg">
        </div>
    </article>
</div>

<script>
    AOS.init()
</script>