<div class="logo-container">
    <div class="logo">Tyrone He</div>
</div>

<div class="card-container">
    <div class="card1-container">
        <p class="card1" style="margin-top: 10%; font-size: 30px;">Contact</p>
        <p class="card1">(China)&nbsp;+8618616382474</p>
        <p class="card1">phone:&nbsp;+17789882087</p>
        <p class="card1">email:&nbsp;tyrone99926@gmail.com</p>
    </div>
    <div class="card2-container">
        <p class="card2" style="margin-top: 10%; font-size: 30px;">Social&nbsp;Media</p>
        <p class="card2">IG:&nbsp;tyrone_heee</p>
        <p class="card2">Wechat:&nbsp;tyrone39</p>
        <p class="card2">SteamID:&nbsp;299409201</p>
        <p class="card2">Github:&nbsp;TyroneHe&#8209;0926</p>
    </div>
</div>