<div class="text-container read">
    <article class="read-wrap">
        <div class="p-content" style="animation: transitionIn 0.75s;">
            <h1 style="line-height: 50px;">
                <div style="font-size: 40px">Tyrone He 何其融</div>
                <div style="font-size: 30px;">University of Waterloo, Software Engineering</div>
                <div style="font-size: 28px;">Favorite animal is Alpaca.</div>
            </h1>
        </div>
        <div class="img-container" style="animation: transitionIn 1.5s; margin-top">
            <img src=" ../../assets/pictures/alpaca.jpeg">
        </div>
    </article>
</div>

<div data-aos="zoom-in-down" class="text-container read" style="background-color: #A2978F; margin-top: 20px;">
    <article class="read-wrap">
        <h5 class="p-content">I was born and raised in Shanghai. My family and I immigrated to Vancouver while I was in
            grade 6.
            <br>
            <br> I am currently an software
            engineering undergraduate student at University of Waterloo.
            <br>
            <br> Besides school and work, I probably spend 50% of my time gaming. I have wasted around 2000hrs
            in
            DOTA2,
            written some small mods for Terraria. I am on Cyberpunk, Total War, and some Chinese RPG games recently.
            I'll have my
            stream
            id in contacts, feel free to add me.
            <br>
            <br> Basketball is probably the only sport I kinda play. This was my "personal" court (just an elementary
            school basketball court besides my house). Good memories. Still hit it up everytime when I go home during
            the breaks.
        </h5>
        <div data-aos="zoom-in-up" class="img-container" style="margin-top: 40px;">
            <img src="../../assets/pictures/chantrell-court.jpeg">
        </div>
    </article>
</div>

<div class="text-container read" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h5 class='p-content'>
            Right now I am also working on my broken Japanese. I have been to Japan for a couple of times, definitely my
            favorite country.
            <br>
            <br> I used to think I could speak Japanese since I watched a lot of anime. Well, it was true to come
            extent, I really could speak anime Japanese, untill I figured out nobody speaks like that.
            <br>
            <br> So yeah, I got myself some books, and learning actual Japanese is just something I am trying to
            practice
            a little everyday. Here is a picture I took in Akihabara (秋葉原)
        </h5>
        <div data-aos="zoom-in-down" class="img-container" style="margin-top: 40px;">
            <img height="800" width="800" src="../../assets/pictures/japan.jpeg">
        </div>
    </article>
</div>

<script>
    AOS.init()
</script>