<div class="text-container read">
    <article class="read-wrap">
        <div style="display: flex; justify-content: center; margin-top: 10px; animation: transitionIn 0.75s;">
            <img style="width: 200px; height: 200px;" src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/akasa.jpg">
        </div>
        <h1 style="animation: transitionIn 0.75s; font-size: 35px;">
            <div> Software Engineer at MiraVideo (Shanghai Akasa Information Technology Co., Ltd.)</div>
        </h1>
    </article>
</div>

<div class="img-container" style="animation: transitionIn 1.5s; height: 75%; margin-top: 40px;">
    <img src="https://hahafhahalpaca-1305808520.cos.ap-shanghai.myqcloud.com/weijing.jpg">
</div>

<div class="text-container read" data-aos="zoom-in-up">
    <article class="read-wrap">
        <h3 class="p-content">
            After 4 months, the mira team is now officially MiraVideo under the start up company (Shanghai Akasa Information Technology Co., Ltd.).
            I decided to go back for another internship after my online courses.
            <br>
            <br> Our team was focusing on AI based editing/generating short advertisement video mashups (for tictok, bilibili, kuaishou, etc.)
            I was in charge of processing/indexing videos in our database with lots of different information (including different embeddings, face vectors, frame information, etc.),
            as well as building a multi-functional video/image search engine. More details can be found in my projects page.
            <br>
            <br> I also developed more utility tools here and there for our customers (mainly video editors) to use. For example, I created a tool where the input can be a short clip from 
            an entire TV show. This short clip may be watermarked, low-resolution, or even have 弹幕 (bullet chat? if this is the correct translation) on the video. My tool can find the 
            the timestamp of this short clip in the original TV show, and output this short clip from the original TV show (high res, no other grabage on the video). This was created using 
            pHash and a sliding window algorithm, along with utility tools like ffmpeg.
            <br>
            <br> I also worked a lot with Elastic Search, Milvus(vector database), Flask(for backend APIs), and React(frontend display) for building my video/image search engine.
        </h3>
    </article>
</div>

<script>
    AOS.init()
</script>