/* mynav-bar container */
.mynav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #669DB3FF;
    font-family: monospace; 
    box-shadow: 5px 5px 4px 5px #888888;
 }
  
  
  /* The my-dropdown container */
  .my-dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* my-dropdown button */
  .my-dropdown .dropbtn {
    font-size: 22px;
    color: white;
    border:  none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: monospace;
    font-weight: bolder;
  }
  
  /* Add a red background color to mynav-bar links on hover */
  .mynav-bar a:hover, .my-dropdown:hover .dropbtn {
    background-color: #A89C94FF;
  }
  
  /* my-dropdown content (hidden by default) */
  .my-dropdown-content {
    display: none;
    position: absolute;
    font-size: 15px;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the my-dropdown */
  .my-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
  }
  
  /* Add a grey background color to my-dropdown links on hover */
  .my-dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the my-dropdown menu on hover */
  .my-dropdown:hover .my-dropdown-content {
    display: block;
  }