<nav class="mynav-bar">

    <button routerLink="/home" class="navbtn">Home Page</button>

    <button routerLink="/intro" class="navbtn">About me</button>

    <div class="my-dropdown" id="exp">
        <button class="dropbtn">Related Experiences
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink="/related-exp/elgin-robotics">Elgin Robotics</a>
            <a routerLink="/related-exp/mira">Mira/Baixing.com</a>
            <a routerLink="/related-exp/miravideo">MiraVideo/Akasa</a>
        </div>
    </div>

    <div class="my-dropdown" id="projects">
        <button class="dropbtn">Projects I Worked on
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink="/projects/poobear">Poobear</a>
            <a routerLink="/projects/ramone">Ramone</a>
            <a routerLink="/projects/turtle">Leatherback Turtle</a>
            <a routerLink="/projects/searcheng">Image/Video Search Engine</a>
        </div>
    </div>

    <button routerLink="/contact" class="navbtn">Contact</button>
</nav>