<nav class="mynav-bar">

    <div class="my-dropdown" id="home">
        <button class="dropbtn">
            <i class="glyphicon glyphicon-home" style="margin-right: 20px; font-size: medium;"></i>
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink="/home">Home Page</a>
        </div>
    </div>

    <div class="my-dropdown" id="about">
        <button class="dropbtn">About Me
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink="/intro">More about myself</a>
        </div>
    </div>

    <div class="my-dropdown" id="exp">
        <button class="dropbtn">Related Experiences
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink="/related-exp/elgin-robotics">Elgin Robotics</a>
            <a routerLink="/related-exp/mira">Mira/Baixing.com</a>
            <a routerLink="/related-exp/miravideo">MiraVideo/Akasa</a>
        </div>
    </div>

    <div class="my-dropdown" id="projects">
        <button class="dropbtn">Projects I Worked on
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink="/projects/poobear">Poobear</a>
            <a routerLink="/projects/ramone">Ramone</a>
            <a routerLink="/projects/turtle">Leatherback Turtle</a>
            <a routerLink="/projects/searcheng">Image/Video Search Engine</a>
        </div>
    </div>

    <div class="my-dropdown" id="contact">
        <button class="dropbtn">Contact
            <i class="glyphicon glyphicon-chevron-down" style="font-size: medium;"></i>
        </button>
        <div class="my-dropdown-content">
            <a routerLink='/contact'>contact info</a>
        </div>
    </div>
</nav>