.gallery-view{
    height: 80%;
    width: 100%;
    display: flex;
    margin: 5% auto 1%;
    box-sizing: border-box;
    animation: transitionIn 0.75s;
}
.image-box{ 
    margin: auto 1%; 
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}
.image-box img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    box-shadow: 2px 2px 4px 2px;
}
.image-box:hover{
    flex-basis: 20%;
}
.gallery:hover .active{
    flex-basis: 0;
}
.image-box:nth-child(1):hover{
    flex-basis: 20%;
}

@keyframes transitionIn{
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}