<div class="gallery-view">
    <div class="image-box">
        <img src="../../assets/pictures/5.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/1.png">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/2.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/3.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/4.jpeg">
    </div>
</div>

<div class="gallery-view">
    <div class="image-box">
        <img src="../../assets/pictures/6.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/7.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/8.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/9.jpeg">
    </div>
    <div class="image-box">
        <img src="../../assets/pictures/10.jpeg">
    </div>
</div>